.App {
    text-align: center;
}

.App-header {
    background-color: #112d64;
    min-height: 5vh;
    display: flex;
    float: initial;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.assetSel {
    margin-top: -59px;
    background-color: ghostwhite;
}

.assets {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 170px;
}

.assets td,
.assets th {
    border: 1px solid #ddd;
    padding: 10px;
    display: 'flex'
}

.assets th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #112d64;
    color: white;
}

.child {
    display: inline-block;
    /* border: 1px solid rgb(248, 245, 245); */
    padding: 1rem 1rem;
    vertical-align: middle;
}

.select-dropdown {
    width: 300px;
    height: 40px;
    margin-top: -20px;
    margin-bottom: 5px;
    background-color: #112d64;
    color: white;
    font-size: calc(1px + 2vmin)
}

.positive-price-theme {
    background-color: #5448e2;
    color: #fff;
}

.negative-price-theme {
    background-color: red;
    color: #fff;
}

.equity-theme {
    background-color: #5448e2;
    color: #fff;
}

.credit-theme {
    background-color: green;
    color: #fff;
}

.marcro-theme {
    background-color: white;
    color: black;
}